<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class = "card" ng-repeat="item in games">
      <div class = "item">
        {{item.host }} VS {{item.guest}}
      </div>

      <div class = "row">
        <div class = "col col-25"></div>
        <div class = "col col-25">主</div>
        <div class = "col col-25">盘口</div>
        <div class = "col col-25">客</div>
      </div>

      <div class = "row">
        <div class = "col col-25">初盘</div>
        <div class = "col col-25">{{item.startHost}}</div>
        <div class = "col col-25">{{item.startPanko}}</div>
        <div class = "col col-25">{{item.startGuest}}</div>
      </div>
      <div class = "row">
        <div class = "col col-25">即时</div>
        <div class = "col col-25">{{item.nowHost}}</div>
        <div class = "col col-25">{{item.nowPanko}}</div>
        <div class = "col col-25">{{item.nowGuest}}</div>
      </div>
      <div class = "row">
        <div class = "col col-25">终盘</div>
        <div class = "col col-25">{{item.endHost}}</div>
        <div class = "col col-25">{{item.endPanko}}</div>
        <div class = "col col-25">{{item.endGuest}}</div>
      </div>
      <div class = "row">
        <div class = "col col-25">欧亚</div>
        <div class = "col col-25">{{item.euroAsiaHost}}</div>
        <div class = "col col-25">{{item.euroAsiaPanko}}</div>
        <div class = "col col-25">{{item.euroAsiaGuest}}</div>
      </div>
    </div>


  </ion-content>
</ion-view>
