<ion-view view-title="设置">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input type="text" ng-model="settings.startHostFrom">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" ng-model="settings.startHostTo" >
      </label>
      <div class="padding">
        <button class="button button-block button-positive">Submit</button>
      </div>
    </div>
  </ion-content>
</ion-view>
