<ion-view view-title="筛选结果">
  <ion-content>
    <ion-refresher on-refresh="refresh()" pulling-text="拉我刷新......" refreshing-text="数据读取中......"
                   refreshing-icon="ion-loading-c">
    </ion-refresher>
      <!--<li class="item item-divider">{{game._id}}</li>-->
      <table class="tg" ng-repeat="game in games">
        <tr>
          <th class="tg-q56n" colspan="5">{{game._id}}</th>
        </tr>
        <tr>
          <td class="tg-xjrb">公司</td>
          <td class="tg-xjrb"></td>
          <td class="tg-xjrb">主</td>
          <td class="tg-xjrb">盘口</td>
          <td class="tg-xjrb">客</td>
        </tr>
        <tbody ng-repeat="item in game.details">
          <tr>
            <td class="tg-u9vp" rowspan="4">{{item.company}}</td>
            <td class="tg-yw4l">初盘</td>
            <td class="tg-yw4l">{{item.startHost}}</td>
            <td class="tg-yw4l">{{item.startPanko}}</td>
            <td class="tg-yw4l">{{item.startGuest}}</td>
          </tr>
          <tr>
            <td class="tg-yw4l">终盘</td>
            <td class="tg-yw4l">{{item.endHost}}</td>
            <td class="tg-yw4l">{{item.endPanko}}</td>
            <td class="tg-yw4l">{{item.endGuest}}</td>
          </tr>
          <tr>
            <td class="tg-yw4l">即时</td>
            <td class="tg-yw4l">{{item.nowHost}}</td>
            <td class="tg-yw4l">{{item.nowPanko}}</td>
            <td class="tg-yw4l">{{item.nowGuest}}</td>
          </tr>
          <tr>
            <td class="tg-yw4l">欧亚</td>
            <td class="tg-yw4l">{{item.euroAsiaHost}}</td>
            <td class="tg-yw4l">{{item.euroAsiaPanko}}</td>
            <td class="tg-yw4l">{{item.euroAsiaGuest}}</td>
          </tr>
        </tbody>

      </table>

    </div>

  </ion-content>
</ion-view>
