<ion-view view-title="筛选结果">
  <ion-content>
    <ion-refresher on-refresh="refresh()" pulling-text="拉我刷新......" refreshing-text="数据读取中......"
                   refreshing-icon="ion-loading-c">
    </ion-refresher>

    <div class="input-wrapper" ng-repeat="game in games">
      <!--<li class="item item-divider">{{game._id}}</li>-->
      <div>
        <table style="width:100%" ng-repeat="game in games">
          <thead>
          <tr>
            <th colspan="2" bgcolor="#5a8ee1" style="text-align: left;">{{game._id}}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in game.details">
            <td width="300" bgcolor="#ddd" class="rTableHead">
              {{item.company}}
            </td>
            <td>
              <div class="rTable">
                <div class="rTableHeading">
                  <div class="rTableHead">
                  </div>
                  <div class="rTableHead">
                    主
                  </div>
                  <div class="rTableHead">
                    盘 口
                  </div>
                  <div class="rTableHead">
                    客
                  </div>
                </div>
                <div class="rTableBody">
                  <div class="rTableRow">
                    <div class="rTableCell">
                      初 盘
                    </div>
                    <div class="rTableCell">
                      {{item.startHost}}
                    </div>
                    <div class="rTableCell">
                      {{item.startPanko}}
                    </div>
                    <div class="rTableCell">
                      {{item.startGuest}}
                    </div>
                  </div>
                  <div class="rTableRow">
                    <div class="rTableCell">
                      即 时
                    </div>
                    <div class="rTableCell">
                      {{item.nowHost}}
                    </div>
                    <div class="rTableCell">
                      {{item.nowPanko}}
                    </div>
                    <div class="rTableCell">
                      {{item.nowGuest}}
                    </div>
                  </div>
                  <div class="rTableRow">
                    <div class="rTableCell">
                      终 盘
                    </div>
                    <div class="rTableCell">
                      {{item.endHost}}
                    </div>
                    <div class="rTableCell">
                      {{item.endPanko}}
                    </div>
                    <div class="rTableCell">
                      {{item.endGuest}}
                    </div>
                  </div>
                  <div class="rTableRow">
                    <div class="rTableCell">
                      欧 亚
                    </div>
                    <div class="rTableCell">
                      {{item.euroAsiaHost}}
                    </div>
                    <div class="rTableCell">
                      {{item.euroAsiaPanko}}
                    </div>
                    <div class="rTableCell">
                      {{item.euroAsiaGuest}}
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>

  </ion-content>
</ion-view>
