<table id="table_1467230" style="width: 100%;" border="0" cellpadding="0" cellspacing="1" class="mytable3 huibg">
  <tbody>
  <tr onclick="toAnaly(1467230, 0)" class="tbHeadbar">
    <td colspan="5"><span>亚协杯</span>&nbsp;<span>10-18 21:30</span>&nbsp;邦加罗尔&nbsp;VS&nbsp;伊提洛尔
      <img align="absmiddle" style="float:right; margin-top:4px;" src="Images/right_icon.png" height="20">
    </td>
  </tr>
  <tr>
    <td class="huibg" style="color: #36c; text-align: center;width:30%;">公司</td>
    <td class="grayCol panCol huibg" style="text-align: center;width:10%;">&nbsp;</td>
    <td class="huibg" style="text-align: center;width:20%;">主队</td>
    <td class="grayCol huibg" style="text-align: center;width:20%;">盘口</td>
    <td class="huibg" style="text-align: center;width:20%;">客队</td>
  </tr>
  <tr onclick="toDetail(1467230,3,5371354)">
    <td rowspan="2" class="huibg" style="color: #36c; text-align: center;">SB</td>
    <td class="grayCol panCol" style="width: 50px; text-align: center;">初盘</td>
    <td style="text-align: center;">1.02</td>
    <td style="text-align: center;">0/0.5</td>
    <td style="text-align: center;">0.80</td>
  </tr>
  <tr onclick="toDetail(1467230,3,5371354)">
    <td class="grayCol" style="text-align: center;">即盘</td>
    <td id="lo_1467230_3" class="red" style="text-align: center;">1.09</td>
    <td id="mo_1467230_3" class="" style="text-align: center;">0/0.5</td>
    <td id="ro_1467230_3" class="green" style="text-align: center;">0.73</td>
  </tr>
  <tr onclick="toDetail(1467230,8,5370876)">
    <td rowspan="2" class="huibg" style="color: #36c; text-align: center;">Bet365</td>
    <td class="grayCol panCol" style="width: 50px; text-align: center;">初盘</td>
    <td style="text-align: center;">0.70</td>
    <td style="text-align: center;">0</td>
    <td style="text-align: center;">1.10</td>
  </tr>
  <tr onclick="toDetail(1467230,8,5370876)">
    <td class="grayCol" style="text-align: center;">即盘</td>
    <td id="lo_1467230_8" class="red" style="text-align: center;">1.08</td>
    <td id="mo_1467230_8" class="red" style="text-align: center;">0/0.5</td>
    <td id="ro_1467230_8" class="green" style="text-align: center;">0.72</td>
  </tr>
  </tbody>
</table>
